export(search.pubmed)
export(see.authors)
export(open.article)
export(see.citations)
import(stringr)
import(dplyr)
import(rvest)
import(httr)
import(xml2)
importFrom(lubridate, 'ymd')
importFrom(purrr,"map",'map_dfr')
importFrom(magrittr,"%>%")
importFrom(utils, "browseURL")

